@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121417;
  color: #68696e;
}

label {
  @apply flex flex-col gap-4;
}
input,
textarea {
  @apply block w-full rounded-lg border border-[#68696e] bg-[#121417] p-3 text-sm  outline-none focus:border-[#2493d4]  focus:ring-[#2493d4];
}
.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}
.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  background-color: #ffffff33;
  will-change: transform;
  box-shadow: 16px 0 40px #ffffff33;
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #00000062;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-front {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-50deg) rotateY(-50deg);
}
.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.tag-red {
  color: red;
}
.tag-blue {
  color: rgb(0, 204, 255);
}
.tag-green {
  color: green;
}
/* Your regular Tailwind CSS styles go here */

.custom-scrollbar {
  /* Set a fixed height for the div to enable scrolling */
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}
.custom-scrollbar:hover::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #4a5568;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2d3748;
}
