@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121417;
  color: #efefef;
}
/* .border-gradient {
  border: 5px solid transparent;
  border-image: conic-gradient(
      from 0deg,
      #2493d4 0deg 200deg,
      #68696e 200deg 360deg
    )
    1;
} */
